@model IEnumerable<CodingCraftHOMod1Ex1EF.Models.Fornecedor>

@{
    ViewBag.Title = "Pesquisar";
}

<h2>Pesquisar</h2>

@using (Html.BeginForm())
{
    <p>
        Filtro: @Html.TextBox("Filtro")
        <input type="submit" value="Pesquisar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pessoa.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pessoa.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PessoaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PessoaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PessoaId })
        </td>
    </tr>
}

</table>
