@model IEnumerable<CodingCraftHOMod1Ex1EF.Models.ProdutoLoja>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Loja.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Loja.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produto.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoLojaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoLojaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoLojaId })
        </td>
    </tr>
}

</table>
