@model CodingCraftHOMod1Ex1EF.ViewModels.ProdutosPorLojaViewModel
@using CodingCraftHOMod1Ex1EF.Models

@{
    ViewBag.Title = "Index";
    var modeloColunas = new Produto();
}

<h2>Index</h2>

@Html.Partial("_Pesquisa", Model)

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => modeloColunas.Nome)
        </th>
        <th>
            @Html.DisplayName("Quantidade")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Resultados)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>                
                @Html.ActionLink( linkText:"Edit", actionName: "Edit", controllerName: "ProdutosLojas" , routeValues: new { id = item.ProdutoLojaId } , htmlAttributes: new { }) |          
                @Html.ActionLink("Details", "Details", new { id = item.ProdutoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoId })
            </td>
        </tr>
    }

</table>


@using (Html.BeginForm("SalvarPesquisa", "Lojas", Model, FormMethod.Get))
{
        if (Model.Resultados.Count() > 0)
        {
        <div class="form-group">

            @Html.LabelFor(model => model.FormatoEscolhido, "Formato", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EnumDropDownListFor(model => model.FormatoEscolhido, "Selecione o formato", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FormatoEscolhido, "", new { @class = "text-danger" })
            </div>

            @Html.Label("Local do arquivo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">

                @Html.EditorFor(model => model.LocalArquivo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LocalArquivo, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-offset-2 col-md-2">
                <input type="submit" value="Salvar pesquisa" class="btn btn-default" />
            </div>
        </div>
    }
}
