@model CodingCraftHOMod1Ex1EF.ViewModels.ProdutosPorLojaViewModel
@using CodingCraftHOMod1Ex1EF.Models

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_Pesquisa", Model)

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeLoja)
        </th>
        @*<th>
            @Html.DisplayName("Quantidade")
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model.Resultados)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            @*<td>
              @Html.DisplayFor(modelItem => item.LojaProdutos.Select(p => p.Produto).Count())
            </td>*@
            <td>                
                @Html.ActionLink("Editar", "Edit", new { id = item.LojaId }) |          
                @Html.ActionLink("Detalhes", "Details", new { id = item.LojaId }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.LojaId })
            </td>
        </tr>
    }    
</table>

@if (Model.Resultados != null && Model.Resultados.Count() > 0)
{
    @Html.Partial("_SalvarPesquisa", Model)
}
else
{
    <div>Não há registros.</div>
}



