@model CodingCraftHOMod1Ex1EF.ViewModels.ProdutoPesquisaViewModel
@using CodingCraftHOMod1Ex1EF.Models
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Index";
    var modeloColunas = new Produto();

}

<h2>Index</h2>

@Html.Partial("_Pesquisa", Model)

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(_ => modeloColunas.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(_ => modeloColunas.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(_ => modeloColunas.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Resultados)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProdutoId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProdutoId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProdutoId })
            </td>
        </tr>
    }

    @Html.PagedListPager((IPagedList)Model.Resultados, page => Url.Action("Index", new { page }))

</table>
