@model CodingCraftHOMod1Ex1EF.ViewModels.LojasPorCategoriaViewModel
@using CodingCraftHOMod1Ex1EF.Models

@{
    ViewBag.Title = "Index";   
}

<h2>Index</h2>

@Html.Partial("_Pesquisa", Model)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Loja")
        </th>

        <th>
            @Html.DisplayName("Quantidade")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Resultados) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LojaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LojaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LojaId })
        </td>
    </tr>
}

</table>
